* {
  margin:0px;
  padding:0px;
}

#batman {
  display: block;
  width:500px;
  height:341px;
  margin:50px auto;
}

#batmanIII {
  display: block;
  width: 500px;
  height: 590px;
  margin: 50px auto;
}

p {
  display: block;
  width: 400px;
  margin: 50px auto;
  font: 11px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
<<<<<<< HEAD

=======
}
